.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #202020;
    box-shadow: 0 0 5px 0 #ffffff1a;
}
.footer-logo > h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.footer-links > ul > li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    cursor: pointer;
}
.footer-links > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}