/* .hero {
    background: #202020;
}
.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
} */